@page "/"
@inject NavigationManager NavigationManager
@using System.Linq


@*
clear nuget cache if not getting the latest version:
- dotnet nuget locals all --clear && dotnet remove package HandyBlazorComponents ; dotnet add package HandyBlazorComponents
*@

<PageTitle>DEMO</PageTitle>

<div class="container">

    <ul>
        @foreach (var link in ComponentList)
        {
            <li>
                <a href="@link.Item1">
                    @link.Item2
                </a>
            </li>
        }
    </ul>
</div>





@code {

    private (string,string)[] ComponentList = {
        // ("session-timer-demo", "Session Timer Demo"),
        ("confirm-modal-demo", "Confirm Modal Demo"),
        ("notification-demo", "Notification Popup Demo"),
        ("toast-demo", "Toast Popup Demo"),
        ("stacked-toast-demo","Stacked Toast Demo"),
        ("cooldowntimer-demo", "Cooldown Timer Demo"),
        ("dynamichandygrid-demo", "Dynamic Handy Grid Demo"),
    };

    // test out jwt token expiring
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await jsRuntime.InvokeVoidAsync("localStorage.setItem", "expDate", new DateTimeOffset(DateTime.Now.AddSeconds(5)).ToUnixTimeMilliseconds());
    //    }
    //}



}
