@page "/notification-demo"
@using SampleProject.TestComponents


<NotificationModalTest @ref="notif" BodyText="Test" Title="This is an info pop up"/>

<label>Notification Modal demo:</label>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" @onclick="@(async ()=>{
                await notif.ShowAsync();
            })">
                Show Info Popup
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="@(async ()=>{
                await notif.ShowAsync(title: "Warning", bodyText: "This is a warning pop up", HandyModalType.WARNING);
            })">
                Show Warning Popup
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="@(async ()=>{
                await notif.ShowAsync(title: "Success", bodyText: "This is a success pop up", HandyModalType.SUCCESS);
            })">
                Show Success Popup
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="@(async ()=>{
                await notif.ShowAsync(title: "Error", bodyText: "This is an error pop up", HandyModalType.ERROR);
            })">
                Show Error Popup
            </button>
        </div>
    </div>

@code {
    private NotificationModalTest notif = default!;
}