@page "/searchable-dropdown"

@* @using SampleProject.TestComponents *@


<div class="container">
    <SearchableDropdown Options="@Cities" Placeholder="Choose a city" OnOptionSelected="@((city) => {
        testClass.Description = city;
    })" />

    <p class="m-3">You selected: @testClass.Description</p>
</div>

@code {
    private List<HandyNamedTuple> Cities = [
        new(Text: "", Value: ""),
        new(Text: "New York", Value: "New York"),
        new(Text: "London", Value: "London"),
        new(Text: "Paris", Value: "Paris"),
        new(Text: "Tokyo", Value: "Tokyo"),
        new(Text: "Berlin", Value: "Berlin"),
    ];
    private string SelectedCity = string.Empty;

    private TestClass testClass = new()
    {
        Title = "test",
        Description = string.Empty,
    };
}
