@page "/session-timer-demo"
@using SampleProject.TestComponents

<SessionTimerModal @ref="sessionTimerModal" Title="Notice" HandyModalType="HandyModalType.INFO"/>

<label>Session Timer Modal Demo:</label>
<button class="btn btn-primary" @onclick="ConfirmButton">
    Test
</button>
<p class="mt-3" style="font-size: 1.25rem;">Confirmation Message: @Message</p>


@code {
    private SessionTimerModal sessionTimerModal = default!;
    private string Message { get; set; } = "";

    private async Task ConfirmButton()
    {
        var response = await sessionTimerModal.ShowAsync();
        Message = response ? "logged out" : "staying logged in";
    }
}