 
<div class="position-absolute top-50 start-50 translate-middle">
    Sorry. Your session has expired. <a href="javascript:void(0);" @onclick="RedirectCallback">Click here</a> to start again.
</div>
 
@code {
    [Parameter]
    public EventCallback RedirectCallback {get;set;}
}
 
 
@* 
Example of how you would use this component:
 
@page "/session-expired"
@using Blazored.LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService localStorageService
 
<SessionExpired RedirectCallback="@(async () => {
    // must remove old jwt token
    await localStorageService.RemoveItemAsync("phgaAuthToken");
    await ((ClientAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync();
    // Console.WriteLine(NavigationManager.BaseUri);
    // navigate to home page
    NavigationManager.NavigateTo(NavigationManager.BaseUri, forceLoad: true);
})" />
 
 
 *@